<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  
  <!-- ポイント１：Bootstrapの設定 -->
  <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
  <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
  
  <title>Login</title>
</head>
<body class="text-center">
  <h1>Login</h1>
  <form method="post" action="/login">
  	<!-- ポイント：ログインエラーメッセージの表示 -->
  	<!-- エラーメッセージ -->
  	<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
  		th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
  		class="text-danger">
  		ログインエラーメッセージ
  	</p>
  	  
    <!-- ユーザID -->
    <label>社員ID　　</label>
    <input type="text" name="userId"/><br/>
    <br/>
    <!-- パスワード -->
    <label>パスワード</label>
    <input type="text" name="password"/><br/>
    <br/>
    <!-- ポイント：CSRF対策用トークン -->
    <!-- CSRF対策用トークン -->
    <input type="hidden"
    	th:name="${_csrf.parameterName}"
    	th:value="${_csrf.token}"/>
    <!-- ログインボタン -->
    <button class="btn btn-primary" type="submit">ログイン</button> 
  </form>
  <br/>
  <!-- ポイント２：th:href -->
  <!-- 社員登録画面へのリンク -->
  <a th:href="@{'/signup'}">社員新規登録はこちら</a>
</body>
</html>
